body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase; }

@supports (display: grid) {
  .l-grid {
    background: #6B949F;
    color: white;
    display: grid;
    grid-template-columns: 25% 50% 25%; }
  .header, .footer, .left-column, .center-column, .right-column {
    margin: 5px;
    padding: 30px;
    text-align: center; }
  .header, .footer {
    background: #265B6A;
    grid-column-start: 1;
    grid-column-end: end; }
  .left-column {
    background: #452F74; }
  .center-column {
    background: #AA7239; }
  .right-column {
    background: #729C34; } }

/*
#results {
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

#results img {
  max-height:200px;
}
*/
